//@import "../../sass/components/_button";
//@import "../../sass/components/_input";
@import "../../sass/base/variables";
.donationPageWrapper {
  background-color: $white;
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 3px solid hotpink;
}

//styling the page that wraps the man payment card and "lets help make a difference" text
.paymentSect {
  margin: 2.5rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6rem;
  // border: 3px solid;
}
.donateText {
  width: 100%;
  .headerText {
    h1 {
      font-size: 38px;
      font-weight: 500;
      margin: 0;
      line-height: 48px;
    }
    span {
      color: $green-500;
    }
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .bulletList {
    // border: 3px solid yellow;
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding: 0;
      margin: 10px;
    }
    .bulletListTitle {
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .bulletin {
      display: flex;
      // align-items: center;
      // border: 3px solid red;

      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }
}

//payment card styling
.paymentCardContainer {
  background-color: rgba(249, 248, 247, 1);
  box-shadow: 5px 10px 45px 0px rgba(0, 0, 0, 0.11);
  border: 1px solid rgba(249, 248, 247, 1);
  // border: 4px solid indigo;
  // margin: 0;
  // padding: 0;
  border-radius: 16px;
  width: 100%;

  .paymentCardIndicator {
    // border: 3px solid gold;
    display: flex;
    padding-left: 1.5rem;
    gap: 5rem;
    font-size: 12px;
    color: $black-400;
  }

  .donationCard {
    // border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 2.2rem;
    gap: 1rem;
    p {
      font-size: 14px;
      font-weight: 600;
      color: $blue-500;
    }

    .giveButtons {
      width: 100%;
      :nth-child(2) {
        border-radius: 0px 15px 15px 0;
        background-color: $blue-400;
        border: 1px solid $blue-400;
        font-size: 14px;
        font-weight: 400;
        width: 50%;
      }
      button {
        @include blueBtn;
        border-radius: 15px 0px 0px 15px;
        font-size: 14px;
        font-weight: 600;
        width: 50%;
      }
    }

    .paymentAmount {
      // border: 3px solid hotpink;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      .buttonSect {
        display: flex;
        // align-items: center;
        // justify-content: center;
        gap: 0.4rem;
        width: 100%;
      }
      button {
        @include outlineBtn;
        color: $blue-500;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        // padding: 12px 60px;
      }
      :nth-child(3) {
        // border: 4px solid firebrick;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    .continueBtn {
      display: flex;
      // border: 3px solid darkblue;
      width: 100%;
      margin: 2rem 0;

      // width: 100%;
      button {
        @include blueBtn;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        // padding: 10px 0;
      }
    }
  }
  //payment and personal information input card styling
  .paymentDetails {
    color: $black-500;
    .donationAmountSelected {
      background-color: $blue-100;
      display: flex;
      gap: 3px;
      padding: 0.82rem 1.625rem;
      margin-bottom: 0;
      border: 1px solid $blue-100;
      img {
        // border: 3px solid yellow;
        width: 24px;
      }
      p,
      h6 {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        // color: $black-500;
      }
      h6 {
        font-weight: 600;
        margin-bottom: 4px;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    h6 {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 3px;
    }
    h5 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
    }

    .inputWrapper {
      display: flex;
      align-items: center;
      justify-content: start;
      // border: 3px solid hotpink;
      input {
        @include inputField;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        border: 1.5px solid $blue-500;
        width: 100%;
        margin: 0.75rem 0;
      }
    }
    .inputCheckbox {
      display: flex;
      flex-direction: row;
      align-items: start;
      font-size: 10px;
      line-height: 15px;
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        background-color: $black-500;
        border: 1px solid $black-500;
        cursor: pointer;
      }

      /* Styles for checked state */
      input[type="checkbox"]:checked {
        background-color: $blue-500;
        border-color: $blue-500;
      }
    }
    .paymentText {
      h5 {
        margin: 0;
        margin-top: 32px;
        margin-bottom: 3px;
      }
    }
    .inputRadio {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-top: 0.5rem;
        }
        input[type="radio"] {
          width: 16px;
          height: 16px;
          background-color: $black-200;
          border: 2px solid $black-200;
          border-radius: 50%;
          cursor: pointer;
        }

        /* Styles for checked state */
        input[type="checkbox"]:checked {
          background-color: teal;
          border-color: teal;
        }
        input {
          padding: 0;
          margin-right: 1rem;
        }
      }
    }
    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }
    .confirmButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      // border: 3px solid blue;
      gap: 1.5rem;
      button {
        @include blueBtn;
        width: 100%;
      }
      :nth-child(2) {
        @include outlineBtn;
        color: $blue-500;
      }
    }
  }
}

//Your donation/middle section styling

.yourDonation {
  // border: 5px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
  }
  .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    // border: 3px solid red;

    .cardContent {
      // border: 3px solid teal;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding-bottom: 1.5rem;
      border: 1px solid $white;
      border-radius: 16px 16px 0px 0px;
      box-shadow: 0px 4px 16px 0px rgba(110, 118, 122, 0.12);
    }
    .cardText {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding: 0px 12px;
      padding-bottom: 1.5rem;
    }
  }
  .cardBtnWrapper {
    display: none;
  }

  .cardImage {
    // border: 3px solid maroon;
    border-radius: 18px 18px 0 0;
    width: fit-content;

    margin: 0;
    padding: 0;
  }
  img {
    width: 100%;
    border: 1.5px solid $blue-500;
    border-radius: 16px 16px 0 0;
    margin: 0;
    padding: 0;
  }
  .cardBox .cardContent:nth-child(2) {
    background-color: $green-100;
    border: 1px solid $green-100;
  }
}

//Join Us styling

.joinUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 6rem 0;
  h2 {
    // font-size: 24px;
    line-height: 36px;
    font-weight: 600s;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
    // margin-top: 2px;
  }
  // border: 3px solid saddlebrown;
  span {
    color: $green-500;
  }
  button {
    @include outlineBtn;
    color: $blue-500;
  }
}

//media query styling

//small devices (large phones
@media only screen and (min-width: 600px) {
  .donationPageWrapper {
    padding: 2.5rem 4rem;

    // border: 3px solid hotpink;
  }
}

//medium devices(tablets)
@media only screen and (min-width: 768px) {
  .donationPageWrapper {
    padding: 2.5rem 7rem;
    // border: 3px solid tomato;
  }
}

//large devices(desktop)
@media only screen and (min-width: 992px) {
  .donationPageWrapper {
    padding: 2.5rem 5rem;
    // border: 3px solid pink;
    gap: 9.2rem;
  }

  //styling the page that wraps the man payment card and "lets help make a difference" text
  .paymentSect {
    flex-direction: row;
  }
  .donateText {
    width: 60%;
    .headerText {
      h1 {
        font-size: 64px;
        font-weight: 500;
        margin: 0;
        line-height: 90px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .bulletList {
      // border: 3px solid yellow;
      margin-top: 1.2rem;
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding: 2px 0;
        margin: 10px;
      }
      .bulletListTitle {
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }
  }

  //payment card styling
  .paymentCardContainer {
    width: 40%;

    .paymentCardIndicator {
      // border: 3px solid gold;
      padding-left: 2.5rem;
      gap: 6.5rem;
      font-size: 14px;
    }
    //amount donation card styling
    .donationCard {
      p {
        font-size: 16px;
        font-weight: 600;
      }

      .giveButtons {
        :nth-child(2) {
          font-size: 16px;
          font-weight: 400;
        }
        button {
          font-size: 16px;
        }
      }

      .paymentAmount {
        .buttonSect {
          gap: 0.9rem;
        }
        button {
          font-size: 16px;
        }
      }
    }

    //payment and personal information input card styling
    .paymentDetails {
      .donationAmountSelected {
        gap: 3px;
        padding: 0.82rem 1.625rem;

        p,
        h6 {
          font-size: 14px;
          line-height: 21px;
          margin: 0;
          // color: $black-500;
        }
        h6 {
          font-weight: 600;
          margin-bottom: 4px;
        }
      }
    }
    .form {
      margin: 2.2rem;
      h6 {
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
      }

      .inputWrapper {
        // border: 3px solid hotpink;
        input {
          @include inputField;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          border: 1.5px solid $blue-500;
        }
      }

      .paymentText {
        h5 {
          margin: 0;
          margin-top: 32px;
          margin-bottom: 16px;
        }
      }

      p {
        font-size: 14px;
        line-height: 21px;
      }
      .confirmButton {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 1rem 0;
        // border: 3px solid blue;
        gap: 1.5rem;
        button {
          @include blueBtn;
          width: 60%;
        }
        :nth-child(2) {
          @include outlineBtn;
          color: $blue-500;
          width: 40%;
        }
      }
    }
  }

  //Your donation/middle section styling

  .yourDonation {
    // border: 5px solid orange;
    flex-direction: row;

    h4 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      margin: 0;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      margin-top: 1rem;
    }
    .cardBox {
      flex-direction: column;
      gap: 5.5rem;
      // border: 3px solid red;

      .cardContent {
        // border: 3px solid teal;
        border-radius: 0px 16px 16px 0px;
        // width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 5.25rem;
        padding-bottom: 0;
      }
      .cardText {
        // border: 3px solid fuchsia;
        width: 50%;
        padding: 0px 2.5rem;
        padding-bottom: 0rem;
      }
    }

    .cardImage {
      width: 50%;

      border-radius: 0px 16px 16px 0px;
    }
    img {
      width: 100%;
      border-radius: 0px 16px 16px 0px;
    }
  }

  //Join Us styling

  .joinUs {
    width: 60%;
    gap: 1.5rem;
    margin: 6rem 0;
    // flex-direction: row;

    .textWrapper {
      // border: 3px solid tan;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      width: 100%;
    }
    h2 {
      line-height: 52px;
      font-weight: 600;
      font-size: 42px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      color: rgba(38, 50, 56, 0.62);
      // text-align: center;
    }
    // border: 3px solid saddlebrown;
  }
}
