//main colors//
$blue-500: rgba(23, 106, 150, 1);
$green-500: rgba(102, 204, 153, 1);
$black-500: rgba(38, 50, 56, 1);

//pry color shades //
$blue-400: rgba(69, 136, 171, 1);
$blue-300: rgba(100, 155, 185, 1);
$blue-200: rgba(148, 186, 207, 1);
$blue-100: rgba(183, 209, 222, 1);
$blue-50: rgba(232, 240, 245, 1);

//sec color shades//
$green-400: rgba(133, 214, 173, 1);
$green-300: rgba(152, 221, 187, 1);
$green-200: rgba(185, 232, 208, 1);
$green-100: rgba(208, 239, 223, 1);
$green-50: rgba(240, 250, 245, 1);

//tertiary color shades//
$black-400: rgba(81, 91, 96, 1);
$black-300: rgba(110, 118, 122, 1);
$black-200: rgba(155, 161, 163, 1);
$black-100: rgba(188, 191, 193, 1);
$black-50: rgba(233, 235, 235, 1);

//general white//
$white: rgba(246, 249, 246, 1);
