@mixin inputField {
  background-color: rgba(255, 253, 253, 1);
  color: $black-400;
  border: 1px solid $black-300;
  border-radius: 20px;
  padding: 12px, 16px;
  &:focus {
    background-color: $blue-500;
  }
}

@mixin inputFieldSuccess {
  background-color: $green-500;
  color: $black-400;
  border: 1px solid $black-300;
  border-radius: 20px;
  padding: 12px, 16px;
  &:focus {
    background-color: $blue-500;
  }
}
@mixin inputFieldError {
  background-color: rgba(204, 82, 44, 1);
  color: $black-400;
  border: 1px solid $black-300;
  border-radius: 20px;
  padding: 12px, 16px;
  &:focus {
    background-color: $blue-500;
  }
}
