//font import
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


//mobile size declaration
$breakpoint-mobile: 430px;


//external variable for colours
@import "../base/variables";


//page container 
.container {
    margin-top: 5px;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: $white;
    justify-content: center;
    align-items: center;


    //mobile view
    @media (max-width: $breakpoint-mobile) {
        margin-left: 0px;
        background-color: $white;
        width: auto;
       
    }
}


//page header
.heading {
    text-align: center;

    @media (max-width: $breakpoint-mobile) {      
       
    }
}

//logo
.heading img {
    width: 224px;
    height: 51px;

    @media (max-width: $breakpoint-mobile) {
        width: 224px;
        height: 51px;
        padding: 0 3rem 0 4rem;
    }
}

// h3 text
.question h3 {
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600;


    //mobile design
    @media (max-width: $breakpoint-mobile) {
        font-size: 22px;
        margin-left: 44px;
        font-weight: 600;

    }
}

.account-type {
    width: 608px;
    height: 550px;
    border: 1px solid $green-400;
    border-radius: 20px;
    padding: 3rem;


    @media (max-width: $breakpoint-mobile) {

        border: 0px;
        padding: 0rem;
        width: 430px;
    }
}

//benefactor and sponsor container
.account-type .benefactor,
.sponsor {
    width: 466px;
    justify-content: center;
    height: 224px;
    margin: 0px 0 0 30px;


    @media (max-width: $breakpoint-mobile) {
        margin: 0px 0 0 44px;
        width: 390px;
    }
}

//benefactor and sponsor paragraph
.benefactor p,
.sponsor p {
    color: $black-500;
    font-weight: 400;
    margin: auto;
    font-size: 14px;
    font-family: 'Poppins';
    text-align: justify;

    @media (max-width: $breakpoint-mobile) {
        color: $black-500;
        font-weight: 400;
        font-size: 16px;
        margin-right: 10px;
        text-align: left;
    }
}

.title {
    margin-top: -5px;
    gap: 16px;
    display: flex;
   
    @media (max-width: $breakpoint-mobile) {
   
    }

}

.title img {
    justify-items: center;

    @media (max-width: $breakpoint-mobile) {
   
    }

}

.title h4 {

    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;

    @media (max-width: $breakpoint-mobile) {
 
    }
}

//separator line
hr {
    margin: 50px 0px 40px 30px;
    width: 466px;
    place-items: center;

    @media (max-width: $breakpoint-mobile) {
        margin: 70px 0px 30px 40px;
        width: 390px;
        place-items: center;
    }
}


//buttons styling
.button1, .button2 {
    height: 48px;
    outline: none;
    border: 1.5px solid $blue-500;
    border-radius: 16px;
    color: $blue-500;
    padding: 15px, 20px, 15px, 20px;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 18px;
    background-color: $white;
    margin-top: 30px;
   

    &:hover {
        background-color: $blue-100;
    }
}
//button 1 only
.button1 {

    width: 281px;
    
    //mobile view styling
    @media (max-width: $breakpoint-mobile) {
   
        // background image (right arrow icon)
        background-image: url('../../src/assets/icon/right2.png');
        background-repeat: no-repeat;
        background-position: right 20px center;
        padding-right: 30px; //padding to accommodate the icon

    }

}

//button 2 only
.button2 {

    width: 255px; 

    @media (max-width: $breakpoint-mobile) {
   
    }

}

.signin-text {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600px;
    text-align: center;
    color: $black-500;

    //mobile view
    @media (max-width: $breakpoint-mobile) {
        text-align: center;
        margin-left: 15px;
        color: $black-500;
        font-size: 16px;
        font-weight: 400px;
        margin-top: 100px;
    }

}


//link and hover style
a {
    color: $blue-300;
    text-decoration: none;
    font-weight: 400;
    margin: 0 5px;
    transition: color 0.3s;
    color: $green-400;

    &:hover {
        color: $green-200;
    }
}
