@import "../base/variables";


.dropdown_select {
  position: relative;
  width: 100%;
  margin-left: -5px;
 // background-color: red;
}

.intrest > .dropdown_select {
  width: 100%;
}

.dropdown_select,
.dropdown_select * {
  z-index: 10;
  
}

.dropdown_select .dropdown_select-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border-radius: 5px;
  color: $black-300;
  font-weight: 500;
}

.dropdown_select-content {
  position: absolute;
  /* top: 110%; */
  background-color: $white;
  border-radius: 1rem;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
}

.dropdown_select-content .item {
  padding: 10px;
  cursor: pointer;
}

.dropdown_select-content .item:hover {
  background: $blue-500;
  color: $white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.275);
  border-radius: 1rem 1rem 0 0;
}