body.active-modal {
    overflow-y: hidden;
}

.modal{
    background-color: red;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 16px;
}

.modal, .overlay {
    width: 100%;
    height: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 210%;
   // align-items: center;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 14px 20px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;

    p{
        font-size: 16px;
        font-weight: 600;
        color: green;
    }
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
